<h1><%= @student.name %></h1>

<% @courses.each do |course| %>
    <section id="course-#{course.id}">
        <p><b><%= link_to "#{course.name}", course_path(course) %></b> | Grade: <%= @student.find_grade(course).round(2) %></p>
        <%= form_for [course.find_student_course(@student)], url: student_course_path(course.find_student_course(@student)), method: :patch do |f| %>
        <%= f.label :grade %>
        <%= f.text_field :grade %>
        <%= f.submit %>
        <% end %>
    </section>
<% end %>